extends layout

block content
    main.mdl-layout__content
        .page-content
            .demo-card-wide.mdl-card.mdl-shadow--2dp
                .mdl-card__title_top
                    h1.mdl-card__title-text 배현빈
                .mdl-card__supporting-text
                    img(src='http://purplebeen.kr/images/profile.jpg', style="height:300px !important; width:300px !important")
                    br
                    br
                    h2.mdl-card__title-text Information
                    ul
                        li 한세사이버보안고등학교 해킹보안과 졸업
                        li 숭실대학교 소프트웨어학부 (Soongsil University School of Software) 재학
                        li 숭실대학교 SSUmunity Android Developer (Since 2018/03/01 ~)
                    h2.mdl-card__title-text Major Technology
                    ul
                        li JAVA Programming
                        li JVM 언어
                        li 안드로이드 프로그래밍
                        li Spring Boot기반의 웹 프로그래밍
                        li Linux 서버 관리
                    h2.mdl-card__title-text Portfolio
                    ul
                        li
                            a(href="https://github.com/purplebeen/Rivator-App") Rivator - coding 교육 매칭 플랫
                        li
                            a(href="https://github.com/purplebeen/Strawberry") Strawberry - 소형 Social Network Service with Firebase
                        li
                            a(href="https://github.com/purplebeen/Highthon") Trump's Fact폭격장
                        li
                            a(href="https://github.com/purplebeen/BigFuture") Big Future - Digital Timecapsule Service (Second Highthon Project)
                    h2.mdl-card__title-text Contacts
                    ul
                        li
                            a(href='https://www.facebook.com/bae.hynebin') Facebook
                        li
                            a(href='https://github.com/purplebeen') Github
                        li 카카오톡 : purplebeen
                    h2.mdl-card__title-text Awards
                    ul
                        li  제 14회 앱잼 생활부문 장려상
                        li  제 11회 공개소프트웨어 개발자대회 본선 진출
                        li  제 2회 GIST 창의융합경진대회 장려상
                        li  2018학년도 컴퓨터&의생명시스템학부 융합소프트웨어 공모전 동상
                    h2.mdl-card__title-text Participation
                    ul
                        li 제 13회 앱잼 생활부문 참가 (Android Backend Dev.)
                        li 제 1회 하이톤 생활부문 참가 (Android Backend Dev.)
                        li 제 11회 공개소프트웨어 개발자대회 참가 (Android Backend Dev.)
                        li 제 14회 앱잼 생활부문 참가 (Android Backend Dev.)
                        li 제 2회 하이톤 (하이톤 : 졸업) 참가 (Android Backend Dev.)
                        li 2018 Seoul Editor's Lab (GEN 해커톤 서울 지역 예선) 참가. (Android Dev.)