doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css')
		link(rel='stylesheet', href='//unpkg.com/bootstrap/dist/css/bootstrap.min.css')
		link(rel="stylesheet",href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css')
		script(src='//unpkg.com/jquery/dist/jquery.min.js')
		script(src='//unpkg.com/bootstrap/dist/js/bootstrap.min.js')
		script(defer='', src='https://code.getmdl.io/1.3.0/material.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
		meta(name='theme-color', content='#1A237E')
		script(defer='', src='https://code.getmdl.io/1.3.0/material.min.js')
		link(rel="stylesheet", href="/stylesheets/style.css")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
		title 북극곰의 개발일기
	body
		script.
			window.onload = function () {
				$("img").addClass("img-responsive");
			}
		script.
			hljs.initHighlightingOnLoad();
		.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
			header.mdl-layout__header
				.mdl-layout__header-row
					// Title
					span.mdl-layout-title 
						a.head(href="/") 북극곰의 개발일기
					// Add spacer, to align navigation to the right
					.mdl-layout-spacer
					// Navigation. We hide it in small screens.
					nav.mdl-navigation.mdl-layout--large-screen-only.category
						a.head.mdl-navigation__link(href='/aboutme') About me
						a.head.mdl-navigation__link(href='/posts/write') Write
						a.head.mdl-navigation__link(href='/users/register') 회원가입
						- if(user)
							a.head.mdl-navigation__link(href="/users/logout") 로그아웃
						- else
							a.head.mdl-navigation__link(href="/users/login") 로그인
			.mdl-layout__drawer
				span.mdl-layout-title
				a(href='/', id='title') 북극곰의 개발일기
				nav.mdl-navigation.category
					a.mdl-navigation__link(href='/aboutme') About me
					a.mdl-navigation__link(href='/posts/write') Write
					a.mdl-navigation__link(href='/users/register') 회원가입
					- if(user)
						a.mdl-navigation__link(href="/users/logout") 로그아웃
					- else
						a.mdl-navigation__link(href="/users/login") 로그인
					-if(categoryList)
						-for(let category of categoryList)
							a.mdl-navigation__link(href='/categories/' + category.name) #{category.name}
					
			block content