extends layout

block content
    main.mdl-layout__content
        .demo-container.mdl-grid
            .mdl-cell.mdl-cell--2-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
            .demo-content.mdl-color--white.mdl-shadow--4dp.content.mdl-color-text--grey-800.mdl-cell.mdl-cell--8-col.main_card
                h1 로그인
                br
                form(action="#" method="post")
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                        input#id.mdl-textfield__input(type='text')
                        label.mdl-textfield__label(for='id') 아이디
                    br
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                        input#pw.mdl-textfield__input(type='password')
                        label.mdl-textfield__label(for='pw') 비밀번호
                    br
                    br
                    input.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type=submit, value="로그인")